<app-header titulo="card"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>




  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laboriosam et vel commodi aspernatur enim incidunt vitae necessitatibus voluptatem, repellendus nostrum quisquam? Minus consectetur mollitia nihil itaque ut vero sint!
    </ion-card-content>

  </ion-card>


  <ion-card>
    <img src="https://cdn1-www.comingsoon.net/assets/uploads/2019/03/D0yW54OU4AAKCB1.jpg">

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laboriosam et vel commodi aspernatur enim incidunt vitae necessitatibus voluptatem, repellendus nostrum quisquam? Minus consectetur mollitia nihil itaque ut vero sint!
    </ion-card-content>

  </ion-card>


</ion-content>
